.idea
static/uploadfile
main.exe
go-admin
temp/
!temp
vendor
config/settings.dev.yml
go-admin
middleware/demo.go
config/settings.dev.b.yml
temp/logs
config/settings.dev.yml.log
config/settings.b.dev.yml
